{% extends 'base.html' %}
{% load tailwind_filters %}



{% block title %}
    Sign-In
{% endblock title %}
    



{% block content %}
    

            
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Sign In for Learning Platform</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-6">
                <label >Username</label>
                <input type="text"  placeholder="'Enter Username" name="username" class="w-full px-4 py-2 bg-indigo-100 text-white rounded-md " >
            </div>

            <label >Password</label>
            <div class="mb-6">
                <input type="password" placeholder="Enter Password" name="password" class="w-full px-4 py-2 bg-indigo-100 text-white rounded-md hover:bg-indigo-700 focus:outline-none" >
            </div>

          <div class="mb-6">
            <button type="submit" class="w-full px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none">Sign Up</button>
        </div>
                    <div class="text-center">
                <p class="text-sm text-gray-600">Don't have an account? <a href="{% url 'account:sign_up' %}" class="text-indigo-600 hover:underline">Sign UP</a></p>
            </div>
        </form>
    </div>
</div>


{% endblock content %}